.dgt_solutionSheet {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dgt_columnLabels {
  display: flex;
  gap: var(--numbersGap);
  margin-left: var(--numbersGap);
}
.dgt_columnLabels .dgt_columnGroup {
  display: flex;
}

.dgt_rowLabels {
  display: flex;
  flex-direction: column;
}

.dgt_label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  aspect-ratio: 1;
  width: 40px;
}

.dgt_columnLabel:nth-child(odd) {
  background-color: white;
}
.dgt_columnLabel:nth-child(even) {
  background-color: lightgray;
  border-width: 2px 0;
}

.dgt_rowLabel:nth-child(odd) {
  background-color: lightgray;
}
.dgt_rowLabel:nth-child(even) {
  background-color: white;
  border-width: 0 2px;
}

.dgt_sequence {
  display: flex;
}

.dgt_numbers {
  display: flex;
  gap: var(--numbersGap);
  margin-left: calc(var(--blockSize) * 0.9);
}

.dgt_numberLabel {
  color: black;
  position: absolute;
  background-color: white;
  top: -10%;
  left: -12%;
}

.dgt_number {
  position: relative;
  display: flex;
  height: var(--numberHeight);
  width: var(--numberWidth);
}

.dgt_spaces {
  position: relative;
  display: flex;
}

.dgt_column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.dgt_column-left {
  left: calc(var(--spaceWidth) / 2);
}
.dgt_column-right {
  right: calc(var(--spaceWidth) / 2);
}
.dgt_column-middle {
  gap: 0;
  justify-content: space-between;
}

.dgt_spaceContainer {
  --spaceShape: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: var(--spaceHeight);
  width: var(--spaceWidth);
  clip-path: var(--spaceShape);
}
.dgt_spaceContainer-middle {
  --spaceShape: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  height: var(--spaceWidth);
  width: var(--spaceHeight);
  z-index: 1;
}

.dgt_space {
  background-color: white;
  height: 98%;
  width: 90%;
  clip-path: var(--spaceShape);
}
.dgt_space-middle {
  height: 90%;
  width: 98%;
  background-color: lightgray;
  clip-path: var(--spaceShape);
}

.dgt_parityMarkers {
  position: absolute;
  top: var(--blockSize);
  left: calc(50% + var(--spaceWidth) / 4);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--blockSize) * 1.75);
}

.dgt_parityMarker {
  font-size: 8px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--spaceWidth);
}
.dgt_parityMarker-even {
  display: flex;
  gap: 4px;
}

:root {
  --blockSize: 40px;
  --numberHeight: calc(var(--blockSize) * 5);
  --numberWidth: calc(var(--blockSize) * 3);
  --numbersGap: calc(var(--blockSize) * 2);
  --spaceHeight: 90px;
  --spaceWidth: 20px;
}

.dgt_gameArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}
.dgt_gameArea * {
  box-sizing: border-box;
}
