.dgt_solutionSheet {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dgt_columnLabels {
  display: flex;
  gap: var(--majorGap);
}
.dgt_columnLabels .dgt_columnGroup {
  display: flex;
}

.dgt_rowLabels {
  display: flex;
  flex-direction: column;
}

.dgt_label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 40px;
}

.dgt_columnLabel:nth-child(odd) {
  background-color: white;
  border: 2px solid lightgray;
}
.dgt_columnLabel:nth-child(even) {
  background-color: lightgray;
}

.dgt_rowLabel:nth-child(even) {
  background-color: white;
  border: 2px solid lightgray;
}
.dgt_rowLabel:nth-child(odd) {
  background-color: lightgray;
}

.dgt_sequence {
  display: flex;
  gap: var(--majorGap);
}

.dgt_number {
  position: relative;
  height: var(--numberHeight);
  width: var(--numberWidth);
}

.dgt_numberLabel {
  color: black;
  position: absolute;
  background-color: white;
  top: -1%;
  left: -1%;
}

.dgt_parityMarker {
  font-size: 32px;
  color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--labelSize);
}
.dgt_parityMarker-even {
  top: var(--labelSize);
}
.dgt_parityMarker-odd {
  bottom: var(--labelSize);
}

:root {
  --labelSize: 40px;
  --numberHeight: calc(var(--labelSize) * 5);
  --numberWidth: calc(var(--labelSize) * 3);
  --majorGap: calc(var(--labelSize) * 2);
}

.dgt_gameArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}
.dgt_gameArea * {
  box-sizing: border-box;
}
