.dgt_solutionSheet {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dgt_comparisonMarkers {
  font-size: 20px;
  position: absolute;
  left: calc(var(--digitsGap) * 2.25);
  display: flex;
  gap: calc(var(--digitsGap) * 1.75);
  z-index: -1;
}
.dgt_comparisonMarkers-left {
  top: calc(var(--digitsGap) * 1.5);
}
.dgt_comparisonMarkers-middle {
  top: calc(var(--digitsGap) * 2.5);
  left: calc(var(--digitsGap) + var(--spaceWidth) / 2);
  gap: calc(var(--digitsGap) * 1.25 + var(--blockSize) * 1.4);
}
.dgt_comparisonMarkers-middle .dgt_comparisonMarker {
  transform: rotate(90deg);
}
.dgt_comparisonMarkers-right {
  bottom: calc(var(--digitsGap) * 1.5);
}

.dgt_comparisonMarker {
  height: 24px;
  width: 35px;
}

.dgt_columnLabels {
  display: flex;
  gap: var(--digitsGap);
  margin-left: calc(var(--blockSize) * 2);
}
.dgt_columnLabels .dgt_columnGroup {
  display: flex;
}

.dgt_rowLabels {
  display: flex;
  flex-direction: column;
}

.dgt_label {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  aspect-ratio: 1;
  width: 40px;
}

.dgt_columnLabel:nth-child(odd) {
  background-color: white;
}
.dgt_columnLabel:nth-child(even) {
  background-color: lightgray;
  border-width: 2px 0;
}

.dgt_rowLabel:nth-child(odd) {
  background-color: lightgray;
}
.dgt_rowLabel:nth-child(even) {
  background-color: white;
  border-width: 0 2px;
}

.dgt_sequences {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
}

.dgt_sequence {
  display: flex;
}

.dgt_digits {
  display: flex;
  gap: var(--digitsGap);
  margin: 0 calc(var(--blockSize) * 0.9);
}

.dgt_digitLabel {
  color: black;
  position: absolute;
  background-color: white;
  top: -10%;
  left: -12%;
}

.dgt_digit {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--digitHeight);
  width: var(--digitWidth);
  overflow-x: visible;
}
.dgt_digit:last-child {
  margin-right: var(--blockSize);
}

.dgt_spaces {
  position: relative;
  display: flex;
  height: 100%;
}

.dgt_column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.dgt_column-left {
  left: calc(var(--spaceWidth) / 2);
}
.dgt_column-right {
  right: calc(var(--spaceWidth) / 2);
}
.dgt_column-middle {
  justify-content: space-between;
}

.dgt_spaceContainer {
  --spaceShape: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: var(--spaceHeight);
  width: var(--spaceWidth);
  clip-path: var(--spaceShape);
}
.dgt_spaceContainer-middle {
  --spaceShape: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  height: var(--spaceWidth);
  width: var(--spaceHeight);
  z-index: 1;
}

.dgt_space {
  background-color: white;
  height: 98%;
  width: 90%;
  clip-path: var(--spaceShape);
}
.dgt_space-middle {
  height: 90%;
  width: 98%;
  background-color: lightgray;
  clip-path: var(--spaceShape);
}

.dgt_parityMarkers {
  position: absolute;
  top: var(--blockSize);
  left: calc(50% + var(--spaceWidth) / 4);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--blockSize) * 1.75);
  z-index: 1;
}

.dgt_parityMarker {
  font-size: 8px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--spaceWidth);
}
.dgt_parityMarker-even {
  display: flex;
  gap: 4px;
}

.dgt_optionMarkers {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(2, var(--spaceWidth));
  height: calc(var(--spaceHeight) * 2);
}

.dgt_optionMarker {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.dgt_label-selectable {
  border-color: green;
  border-style: dashed;
  border-width: 2px !important;
  cursor: pointer;
  z-index: 2;
}
.dgt_label-unselectable {
  cursor: not-allowed;
  opacity: 0.5;
}
.dgt_label-selected {
  border-style: solid;
  transform: scale(1.1);
  z-index: 3;
}

.dgt_space-selectable {
  background-color: greenyellow;
  cursor: pointer;
}
.dgt_space-unselectable {
  cursor: not-allowed;
  opacity: 0.5;
}
.dgt_space-selected {
  background-color: green;
}

.dgt_parityMarker-confirmed {
  color: red;
}

.dgt_lineMarker-confirmed {
  color: red;
}

.dgt_space-confirmed-filled {
  background-color: red;
}
.dgt_space-confirmed-empty {
  background-color: cyan;
  filter: blur(6px);
}

:root {
  --blockSize: 40px;
  --digitHeight: calc(var(--blockSize) * 5);
  --digitWidth: calc(var(--blockSize) * 3);
  --digitsGap: calc(var(--blockSize) * 3);
  --spaceHeight: 90px;
  --spaceWidth: 20px;
}

.dgt_gameArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}
.dgt_gameArea * {
  box-sizing: border-box;
}
