@use "libs/bga-zoom";
@use "libs/bga-help";
@use "help";
@use "panels";
@use "solutionSheet";
@use "digits";
@use "drafting";
@use "selections";
@use "feedbacks";
@use "solutionForm";

:root {
  --blockSize: 40px;
  --digitHeight: calc(var(--blockSize) * 5);
  --digitWidth: calc(var(--blockSize) * 3);
  --digitsGap: calc(var(--blockSize) * 3);
  --spaceHeight: 90px;
  --spaceWidth: 20px;
}

.dgt_gameArea {
  font-family: "Alata", sans-serif;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  margin: auto;

  * {
    box-sizing: border-box;
  }
}

.dgt_submitSolutionBtn {
  background: green;

  &:hover {
    background: green !important;
  }
}

.dgt_logHighlight {
  font-weight: bold;
}
