@use "solutionSheet";
@use "digits";
@use "selections";
@use "feedbacks";

:root {
  --blockSize: 40px;
  --digitHeight: calc(var(--blockSize) * 5);
  --digitWidth: calc(var(--blockSize) * 3);
  --digitsGap: calc(var(--blockSize) * 3);
  --spaceHeight: 90px;
  --spaceWidth: 20px;
}

.dgt_gameArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;

  * {
    box-sizing: border-box;
  }
}
