.dgt_draftBtn {
  font-size: 20px;
  position: absolute;
  bottom: 0;

  &-save {
    right: 1%;
  }

  &-delete {
    left: 0;
  }
}

.dgt_space {
  cursor: pointer;

  &:where(.dgt_draft) {
    background: repeating-linear-gradient(-45deg, black, gray 8px);
  }
}

.dgt_comparisonIcon {
  cursor: pointer;

  &:where(.dgt_draft) {
    color: black;
  }
}

.dgt_parityMarker {
  cursor: pointer;

  &:where(.dgt_draft) {
    color: black;
  }
}

.dgt_lineMarker {
  cursor: pointer;
  font-size: 20px;
}

.dgt_optionMarker {
  cursor: pointer;
  &:where(.dgt_draft) {
    text-decoration: 2px black line-through;
  }
}
