.dgt_draftBtn {
  font-size: 20px;
  position: absolute;
  bottom: 0;

  &-save {
    right: 1%;
  }

  &-delete {
    left: 0;
  }
}

.dgt_space {
  cursor: pointer;

  &:where(.dgt_draft) {
    &:where([data-draftvalue="filled"]) {
      background-image: repeating-linear-gradient(-45deg, black, gray 6px);
    }

    &:where([data-draftvalue="empty"]) {
      background-image: repeating-linear-gradient(180deg, gray, white 6px);
    }
  }
}

.dgt_comparisonIcon {
  cursor: pointer;

  &:where(.dgt_draft) {
    color: black;
  }
}

.dgt_parityMarker {
  cursor: pointer;

  &:where(.dgt_draft) {
    color: black;
  }
}

.dgt_lineMarker {
  cursor: pointer;
  font-size: 20px;
}

.dgt_optionMarker {
  cursor: pointer;
  &:where(.dgt_draft) {
    text-decoration: 2px black line-through;
  }
}
