.dgt_parityMarker {
  &-confirmed {
    color: red;
    cursor: not-allowed;

    &:active {
      pointer-events: none;
    }
  }
}

.dgt_lineMarker {
  &-confirmed {
    font-size: 24px;
    color: red;
    -webkit-text-stroke: 1px darkred;
    pointer-events: none;
  }
}

.dgt_space {
  &-confirmed {
    cursor: not-allowed;

    &:active {
      pointer-events: none;
    }

    &-filled {
      cursor: not-allowed;
      background: repeating-linear-gradient(90deg, darkred, red 6px);
    }

    &-empty {
      background-image: url("img/x_icon.png");
      background-size: 16px;
      background-position: center;
    }
  }
}

.dgt_comparisonIcon {
  &-confirmed {
    color: red;
    cursor: not-allowed;

    &:active {
      pointer-events: none;
    }
  }
}
