.dgt_parityMarker {
  &-confirmed {
    color: darkred;
    cursor: not-allowed;
  }
}

.dgt_lineMarker {
  &-confirmed {
    color: darkred;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.dgt_space {
  &-confirmed {
    cursor: not-allowed;

    &-filled {
      cursor: not-allowed;
      background: repeating-linear-gradient(90deg, darkred, red 8px);
    }

    &-empty {
      background: repeating-linear-gradient(180deg, white,gray 4px);
    }
  }
}

.dgt_comparisonIcon {
  &-confirmed {
    color: darkred;
    cursor: not-allowed;
  }
}
