.dgt_parityMarker {
  &-confirmed {
    color: red;
  }
}

.dgt_lineMarker {
  &-confirmed {
    color: red;
  }
}

.dgt_space {
  &-confirmed {
    &-filled {
      background-color: red;
    }

    &-empty {
      background-color: cyan;
      filter: blur(6px);
    }
  }
}
