.dgt_numbers {
  display: flex;
  gap: var(--numbersGap);
  margin-left: calc(var(--blockSize) * 0.9);
}

.dgt_numberLabel {
  color: black;
  position: absolute;
  background-color: white;
  top: -10%;
  left: -12%;
}

.dgt_number {
  position: relative;
  display: flex;
  height: var(--numberHeight);
  width: var(--numberWidth);
}

.dgt_column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &-left {
    left: calc(var(--spaceWidth) / 2);
  }

  &-right {
    right: calc(var(--spaceWidth) / 2);
  }

  &-middle {
    gap: 0;
    justify-content: space-between;
  }
}

.dgt_space {
  background-color: white;
  height: var(--spaceHeight);
  width: var(--spaceWidth);
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);

  &:is([data-column="B"], [data-column="E"], [data-column="H"]) {
    background-color: lightgray;
    height: var(--spaceWidth);
    width: var(--spaceHeight);
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  }
}

.dgt_parityMarker {
  font-size: 32px;
  color: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--blockSize);

  &-even {
    top: var(--blockSize);
  }

  &-odd {
    bottom: var(--blockSize);
  }
}
