.dgt_numbers {
  display: flex;
  gap: var(--numbersGap);
  margin: 0 calc(var(--blockSize) * 0.9);
}

.dgt_numberLabel {
  color: black;
  position: absolute;
  background-color: white;
  top: -10%;
  left: -12%;
}

.dgt_number {
  position: relative;
  display: flex;
  height: var(--numberHeight);
  width: var(--numberWidth);
}

.dgt_spaces {
  position: relative;
  display: flex;
}

.dgt_column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &-left {
    left: calc(var(--spaceWidth) / 2);
  }

  &-right {
    right: calc(var(--spaceWidth) / 2);
  }

  &-middle {
    gap: 0;
    justify-content: space-between;
  }
}

.dgt_spaceContainer {
  --spaceShape: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: var(--spaceHeight);
  width: var(--spaceWidth);
  clip-path: var(--spaceShape);

  &-middle {
    --spaceShape: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    
    height: var(--spaceWidth);
    width: var(--spaceHeight);
    z-index: 1;
  }
}

.dgt_space {
  background-color: white;
  height: 98%;
  width: 90%;
  clip-path: var(--spaceShape); 

  &-middle {
    height: 90%;
    width: 98%;
    background-color: lightgray;
    clip-path: var(--spaceShape);
  }
}

.dgt_parityMarkers {
  position: absolute;
  top: var(--blockSize);
  left: calc(50% + var(--spaceWidth) / 4);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--blockSize) * 1.75);
}

.dgt_parityMarker {
  font-size: 8px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: var(--spaceWidth);

  &-even {
    display: flex;
    gap: 4px;
  }
}
