.dgt_label {
  &-selectable {
    border-color: green;
    border-style: dashed;
    border-width: 2px !important;
    cursor: pointer;
    z-index: 2;
  }

  &-unselectable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-selected {
    border-style: solid;
    transform: scale(1.1);
    z-index: 3;
  }
}

.dgt_space {
  &-selectable {
    background-color: greenyellow;
    cursor: pointer;
  }

  &-unselectable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-selected {
    background-color: green;
  }
}

.dgt_comparisonMarker {
  &-selectable {
    outline:  2px dashed green;
    cursor: pointer;
  }

  &-unselectable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-selected {
    outline-style: solid;
  }
}
