.dgt_label {
  &-selectable {
    border-color: green;
    border-style: dashed;
    border-width: 2px !important;
    cursor: pointer;
    z-index: 2;
  }

  &-unselectable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-selected {
    border-style: solid;
    transform: scale(1.1);
    z-index: 3;
  }
}
