.dgt_solutionSheet {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  user-select: none;
}

.dgt_comparisonMarkers {
  font-size: 20px;
  position: absolute;
  left: calc(var(--digitsGap) * 2.25);
  display: flex;
  gap: calc(var(--digitsGap) * 1.7);

  &-top {
    top: calc(var(--digitsGap) * 1.4);
  }

  &-middle {
    top: calc(var(--digitsGap) * 2.5);
    left: calc(var(--digitsGap) + calc(var(--spaceWidth) / 2));
    gap: calc(var(--digitsGap) * 1.25 + var(--blockSize) * 1.25);

    .dgt_comparisonMarker {
      transform: rotate(90deg);
    }
  }

  &-bottom {
    bottom: calc(var(--digitsGap) * 1.4);
  }
}

.dgt_comparisonMarker {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 24px;
  width: 40px;
}

.dgt_columnLabels {
  display: flex;
  gap: var(--digitsGap);
  margin-left: calc(var(--blockSize) * 2);

  .dgt_columnGroup {
    display: flex;
  }
}

.dgt_rowLabels {
  display: flex;
  flex-direction: column;
}

.dgt_label {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  aspect-ratio: 1;
  width: 40px;
}

.dgt_columnLabel {
  &:nth-child(odd) {
    background-color: white;
  }

  &:nth-child(even) {
    background-color: lightgray;
    border-width: 2px 0;
  }
}

.dgt_rowLabel {
  &:nth-child(odd) {
    background-color: lightgray;
  }

  &:nth-child(even) {
    background-color: white;
    border-width: 0 2px;
  }
}

.dgt_sequences {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
}

.dgt_sequence {
  display: flex;
}
