.dgt_solutionForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4px;
  width: var(--digitWidth);

  button {
    margin: 8px 0 0 0;
  }
}

.dgt_input {
  font-family: "Alata", sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
